.navbar{
    height: 80px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0px 1px 8px 0px gray;
    text-align: center;
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    text-align: center;
}

.my-cart-text{
    text-align: center;
}
.cart-logo{
    width: 100%;
    font-size: 2rem;
    color: #ff3e6c;
  }

@media screen and (max-width: 768px) {
    .nav-right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;
        // text-align: center;
    }
}